* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Georgia, "Nimbus Roman No9 L", "Century Schoolbook L", serif;
  font-size: 20px;
  line-height: 1.45;
  color: black;

  overflow-x: hidden;
}

article {
  max-width: 35em;
  margin: 0 auto;
  padding: 2em 1em 5em;
  word-wrap: break-word;
}

header {
  display: flex;
}
#nav {
  display: flex;
  align-items: flex-end;
  padding: 5px;
  height: auto;
  margin-left: auto;
  gap: 0.2em;
}

#back {
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-right: 1em solid #b8b8b8;
  border-bottom: 0.5em solid transparent;
  border-radius: 20%;
}
#back:hover {
  border-right: 1em solid #979393;
}
#menu {
  width: 1em;
  height: 1em;
  background: #b8b8b8;
  border-radius: 50%;
}
#menu:hover {
  background: #979393;
}
#next {
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-left: 1em solid #b8b8b8;
  border-bottom: 0.5em solid transparent;
  border-radius: 20%;
}
#next:hover {
  border-left: 1em solid #979393;
}
.titulo {
  font-family: "Cinzel", Georgia, serif;
}

.info {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1.5em;
}

.fotos {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 1.5em;
  grid-gap: 1em;
}
.fotos img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
